/* Grundlegende Stile für den gesamten Body */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* Container für das Login-Formular */
.login-container {
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Überschrift im Login-Container */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Stile für die Labels und Input-Felder */
label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Stil für den Submit-Button */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Stile für mobile Geräte */
@media (max-width: 600px) {
  .login-container {
    width: 100%;
    padding: 15px;
  }
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.rezepte-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.rezept-kachel {
  width: 150px;
  text-align: center;
}

.rezept-kachel img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.button {
  display: inline-block; /* Damit die Buttons nebeneinander angezeigt werden */
  padding: 12px 20px; /* Innenabstand für die Schaltflächen */
  margin: 10px; /* Abstand zwischen den Schaltflächen */
  font-size: 16px; /* Schriftgröße */
  font-weight: bold; /* Fette Schrift für den Buttontext */
  text-align: center; /* Text zentrieren */
  text-decoration: none; /* Unterstreichung entfernen */
  color: #fff; /* Textfarbe */
  background-color: #007bff; /* Hintergrundfarbe */
  border: none; /* Keine Standardrahmen */
  border-radius: 5px; /* Abgerundete Ecken */
  transition: background-color 0.3s, transform 0.2s; /* Übergangseffekte */
}

.button:hover {
  background-color: #0056b3; /* Dunklere Hintergrundfarbe beim Hover */
  transform: translateY(-2px); /* Button leicht anheben */
}

.button:active {
  background-color: #004494; /* Noch dunklere Farbe beim Klicken */
  transform: translateY(0); /* Zurück zur normalen Position */
}

.button-container {
  text-align: center; /* Zentriere die Schaltflächencontainer */
}
