body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.suchen {
  display: flex;
  justify-content: center;
  align-items: center; /* Zentriert das Icon vertikal */
}

.logo img {
  position: absolute;
  left: 30px;
  width: 100%;             /* Full width within its container */
  max-width: 150px;        /* Typically between 120px - 200px */
  height: auto;  
  border-radius: 10px;
}

.logo img:hover {
  cursor: pointer;
}

.account-container {
  position: relative;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;

}
.account-container-profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-icon {
  font-size: 36px;
  flex-grow: 1;
  min-width: 30%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px 15px;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

/* Dropdown anzeigen beim Hover */
.account-container:hover .dropdown-menu {
  display: block;
}

nav {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.filter li {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

/* Dropdown-Menu */
.filter li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px;
  z-index: 1;
}

.filter li ul li {
  padding: 10px 15px;
  white-space: nowrap;
}

.filter li ul li:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

.filter li:hover ul {
  display: block;
}


.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  border: 1px solid black;
  border-radius: 15px;
  width: 370px;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-color: grey;
  margin: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white; /* Hintergrundfarbe des Formulars */
}

input[type="text"]:not(.search-bar),
textarea,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.461);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="text"].search-bar {
  background-color: #ffffff; 
}

input[type="text"]:not(.search-bar) {
  background-color: #00ffb34c;
}

textarea {
  background-color: #95ff004c;
}

input[type="submit"] {
  background-color: #ff88004c;
  border: 1px solid rgba(128, 128, 128, 0.461);
  cursor: pointer;
  margin-top: 5px;
}

input[type="submit"]:hover {
  background-color: #ff55004c;
}

.zeitaufwand-options,
.schwierigkeitsgrad-options,
.kategorie-options {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.zeitaufwand-options label,
.schwierigkeitsgrad-options label,
.kategorie-options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

button {
  background-color: lightgray;
  border: 1px solid rgba(128, 128, 128, 0.461);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

button:hover {
  background-color: gray;
}

.anlegen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  text-align: center;
  margin: 50px;
}