body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.suchen {
  display: flex;
  justify-content: center;
  align-items: center; /* Zentriert das Icon vertikal */
}

.logo img {
  position: absolute;
  left: 30px;
  width: 100%;             /* Full width within its container */
  max-width: 150px;        /* Typically between 120px - 200px */
  height: auto;  
  border-radius: 10px;
}

.logo img:hover {
  cursor: pointer;
}

.account-container {
  position: relative;
  top: 5px;
  right: -275px;
}

.account-icon {
  font-size: 36px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px 15px;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

/* Dropdown anzeigen beim Hover */
.account-container:hover .dropdown-menu {
  display: block;
}

nav {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.filter li {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

/* Dropdown-Menu */
.filter li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px;
  z-index: 1;
}

.filter li ul li {
  padding: 10px 15px;
  white-space: nowrap;
}

.filter li ul li:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

.filter li:hover ul {
  display: block;
}
